.map_img{
    object-fit: cover;
    width: 100%;
    
}

.card{
    background-color: rgb(67, 65, 65) !important;
    border-radius: 50px;
    margin: 10px 10px;
    cursor: pointer;
    
}

.title{
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 15px;
}

