.map_img {
    object-fit: cover;
    width: 100%;

}

.card {
    background-color: rgb(67, 65, 65) !important;
    border-radius: 15px;
    margin: 10px 10px;
    cursor: pointer;

}

.home_map-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 12px;
}

.home_data {
    color: aqua;
    padding-right: 8px;
}

.home_img1 {
    position: relative;
    object-fit: cover;
    width: 100%;
    border-radius: 12px;
}

.home_info-title {
    background-color: rgba(0, 0, 0, 0.338);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 15px;
    top: 52%;
    left: 40px;

}

.top {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.home_card {
    background-image: url("./../../public/rasm-1.jpg");
    background-color: #cccccc;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 30px;
}

.home_card2 {
    background-image: url("./../../public/rasim-3.jpg");
    background-color: #cccccc;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 30px;
}

.home_title1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 60px;
    border-top-left-radius: 15px;
    background-color: rgba(28, 2, 47, 0.687);
}

.home_icons {
    font-size: 35px;
    color: rgba(245, 237, 237, 0.904);
    transition: 1s;
    cursor: pointer;
}

.home_name {
    margin-top: 14px;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;

}

.home_icons:hover {
    transform: translateY(5px);
}

.border {
    width: 2px;
    height: 40px;
    border-radius: 100px;
}


.sana {
    text-align: center;
    background-color: white;
    color: black;
    padding: 5px 0;
    margin-top: 15px;
    font-size: 10px;
    width: 50px;
    border-radius: 10px;
}

.bottom {
    background-color: rgb(29, 28, 28);
}

.home_title3 {
    padding: 20px;
}

.card_genres {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.genres_text {
    font-size: 17px;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;
}

.card_genres :nth-child(1) {
    background-color: blueviolet;
}

.card_genres :nth-child(2) {
    background-color: rgb(255, 128, 0);
}

.card_genres :nth-child(3) {
    background-color: blueviolet;
}

.card_genres :nth-child(4) {
    background-color: rgb(255, 128, 0);
}

.card_genres :nth-child(5) {
    background-color: rgb(43, 147, 226);
}

.add_yours {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.bottom_icons {
    font-size: 30px;
    color: rgb(57, 58, 56);
}

.add_yours-text {
    margin-top: 8px;
}

.bottom_three {
    display: flex;
    justify-content: space-around;

}

.bottom_three :nth-child(1) {
    background-color: rgb(57, 58, 56);
    font-size: 17px;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;

}

.bottom_three :nth-child(2) {
    background-color: rgb(57, 58, 56);
    font-size: 17px;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;

}

.bottom_three :nth-child(3) {
    background-color: rgb(57, 58, 56);
    font-size: 17px;
    padding: 8px 15px;
    border-radius: 15px;
    cursor: pointer;

}